<h2>Create a new family</h2>
<div class="forms">
  <form>
    <h3>Father details:</h3>
    <div class='inputfield'>
      <label>First name:
      </label>
      <input #firstName [disabled]="familyContent.father"/>
    </div>
    <div class='inputfield'>
      <label>Second name:
      </label>
      <input #secondName [disabled]="familyContent.father" />
    </div>
    <div class='inputfield'>
      <label>Birth date:
      </label>
      <input #birthDate type="date" [disabled]="familyContent.father" />
    </div>
    <div class='inputfield'>
      <label>pesel:
      </label>
      <input #pesel [disabled]="familyContent.father" />
    </div>
    <div class="error-msg">{{fatherFormError}}</div>
    <button *ngIf="!familyContent.father" (click)="addFather(firstName.value, secondName.value, birthDate.value, pesel.value);">
      Save the father's data
    </button>
  </form>
  
  <div *ngIf="familyContent.father">
    <div class='inputfield'>
      <h3>Child details:</h3>
      <label>First name:
      </label>
      <input [(ngModel)]="newChildData.firstName" />
    </div>
    <div class='inputfield'>
      <label>Second name:
      </label>
      <input [(ngModel)]="newChildData.secondName" />
    </div>
    <div class='inputfield'>
      <label>Birth date:
      </label>
      <input type="date" [(ngModel)]="newChildData.birthDate" />
    </div>
    <div class='inputfield'>
      <label>pesel:
      </label>
      <input [(ngModel)]="newChildData.pesel" />
    </div>
    <div class='inputfield'>
      <label>Płeć:
      </label>
      <select [(ngModel)]="newChildData.sex">
        <option selected value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>
    <div class="error-msg">{{childrenFormError}}</div>
    <button (click)="addChild()">
      Add this child
    </button>
  </div>
  <div *ngIf="familyContent.father && familyContent.children.length > 0" class="children-list">
      <h3>Added children: </h3>
      <ul>
          <li *ngFor="let child of familyContent.children">
            {{child.firstName}}, 
            {{child.secondName}}, 
            {{child.pesel}}
          </li>
        </ul>
  </div>
</div>
<div>
<div class="error-msg">{{saveFamilyError}}</div>
<button *ngIf="familyContent.father" (click)="storeFamily();" class="store-family-btn">
    Store the new family
</button>
</div>